.1{
  width: 100%;
  margin: 0 auto;
}

body {
    font-family: 'Montserrat';font-size: 22px;
    text-align: center;
    display: block;
  	margin-left: auto;
  	margin-right: auto;
  	/*background-color: #5abfbf;*/
  	background-image: url('7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
}
::placeholder{
	font-family: 'Montserrat' ;font-size: 15px;
	color:white;
}
.button{
	font-family: 'Montserrat';
	
	
	background-color: black; 
  	border-radius: 25px;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
}

.3 {
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;

 
}
input[type=text],input[type = password] {
  width: 50%;
  padding: 12px 20px;
  margin: 20px 0px;
  box-sizing: border-box;
  border: none;
  background-color: black;
  color: white;
  border-radius:25px;
  font-family: 'Montserrat';
  font-size:15px;
}





